@page "/browse"
@using ServerFolderWatch.Core.Model
@using ServerFolderWatch.Server.PageModels
@inject NavigationManager NavigationManager
@inject BrowsePageModel Model;

<div id="browser">
    <ul>
        @if (Model.CanGoToParent())
        {
            <li>
                <a href="@Model.GetParentUrl()">
                    <span><em class="icon">⇧</em> .. </span>
                </a>
            </li>
        }
        @foreach (var child in diffEntries)
        {
            <li class="@Model.GetClassName(child.Value)">
                @if (child.Key is Folder folder)
                {
                    <a href="@Model.GetFolderUrl(folder)">
                        <em class="icon">🗀</em> @child.Key.Name
                    </a>
                }
                else if (child.Key is File file)
                {
                    <a>
                        <em class="icon">🗎</em>
                        @child.Key.Name
                        @if (file.Version > 1)
                        {
                            <strong>@file.Version </strong>
                        }
                    </a>
                }
            </li>
        }
    </ul>
</div>

@code {
    private IDictionary<BaseEntry, DiffOperation>? diffEntries;
    
    [SupplyParameterFromQuery]
    public string? Folder { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (Folder == string.Empty)
            NavigationManager.NavigateTo("/browse", replace: true);
        
        Model.LoadFolder(Folder);
        diffEntries = Model.GetDiffEntries();
    }

}
