@page "/browse"
@using System.IO
@using ServerFolderWatch.Core
@using ServerFolderWatch.Core.Model
@inject IAppConfiguration AppConfiguration
@inject IBrowseService BrowseService
@inject IFolderSnapshotService FolderSnapshotService
@inject IFolderDiffService FolderDiffService
@inject NavigationManager NavigationManager

<!--
<h1>Browse</h1>
<p>Clicks: @clicks</p>
<button @onclick="Increment">Increment</button>
-->

<div id="browser">
    <ul>
        @if (BrowseService.CanGoToParent(Folder ?? string.Empty))
        {
            <li>
                <a href="@GetParentUrl()">
                    <span><em class="icon">⇧</em> .. </span>
                </a>
            </li>
        }
        @foreach (var child in diffEntries)
        {
            <li class="@GetClassName(child.Item1, diffEntries.IndexOf(child))">
                @if (child.Item1 is Folder)
                {
                    <a href="/browse?folder=@GetChildPath(child.Item1)">
                        <span><em class="icon">🗀</em> @child.Item1.Name</span>
                    </a>
                }
                else
                {
                    <span><em class="icon">🗎</em> @child.Item1.Name</span>
                }
            </li>
        }
    </ul>
</div>

@code {
    private List<BaseEntry> currentContents;
    private IList<(BaseEntry, DiffOperation)> diffEntries;
    
    [SupplyParameterFromQuery]
    public string? Folder { get; set; }

    // TODO fix for proper use (remove indexInList mostly)
    string GetClassName(BaseEntry entry, int indexInList)
    {
        return indexInList switch
        {
            1 => "diff-added",
            3 => "diff-removed",
            5 => "diff-modified",
            _ => ""
        };
    }

    string GetChildPath(BaseEntry entry)
    {
        return (string.IsNullOrWhiteSpace(Folder)
            ? string.Empty
            : $"{Folder}/") + entry.Name;
    }

    string GetParentPath()
    {
        if (string.IsNullOrWhiteSpace(Folder) || !Folder.Contains('/'))
            return string.Empty;
        
        return Folder?[..Folder.IndexOf('/')] ?? "/";
    }

    string GetParentUrl()
    {
        var parentPath = GetParentPath();
        return string.IsNullOrEmpty(parentPath) ? "/browse" : $"/browse?folder={parentPath}";
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        
        if (Folder == string.Empty)
            NavigationManager.NavigateTo("/browse", replace: true);

        var folderPath = Path.Combine(AppConfiguration.RootPublicPath, Folder ?? string.Empty);
        var contents = FolderSnapshotService.GetCurrentContents(folderPath);

        var oldSnapshot = FolderSnapshotService.LoadPersistedSnapshot(folderPath);
        var diff = FolderDiffService.Compare(oldSnapshot, contents, folderPath, out _);
        
        currentContents = contents.GetAllEntries().ToList();
        diffEntries = diff.Entries;
    }

}
