@page "/browse"
@using System.IO
@using ServerFolderWatch.Core
@using ServerFolderWatch.Core.Model
@inject IConfiguration Configuration
@inject IBrowseService BrowseService

@* Route Razor pages with @page. This page is served at /browse, matching the API shape of /api/browse. *@
@* Inject registered DI services with @inject. For example, IBrowseService is registered in Program.cs and available here as BrowseService. *@
@* Handle UI events with Blazor attributes like @onclick. This button increments without a full page reload. *@

<h1>Browse</h1>
<p>Clicks: @clicks</p>
<button @onclick="Increment">Increment</button>

<p>Files:</p>

@if (BrowseService.CanGoToParent(Folder ?? string.Empty))
{
    <h1>
        <a href="/browse/?folder=@GetParentPath()">Back!</a>
    </h1>
}

<ul>
    @foreach (var child in children)
    {
        <li>
            <a href="/browse?folder=@GetChildPath(child)">
                @child.Name
            </a>
        </li>
    }
</ul>

@code {
    private int clicks;
    private List<BaseEntry> children;

    private void Increment() => clicks++;
    
    [SupplyParameterFromQuery]
    public string? Folder { get; set; }

    string GetChildPath(BaseEntry entry)
    {
        return (string.IsNullOrWhiteSpace(Folder)
            ? string.Empty
            : $"{Folder}/") + entry.Name;
    }

    string GetParentPath()
    {
        if (string.IsNullOrWhiteSpace(Folder) || !Folder.Contains('/'))
            return string.Empty;
        
        return Folder?[..Folder.IndexOf('/')] ?? "/";
    }

    string Foo()
    {
        return "foo";
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();


    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        
        var basePath = Path.Combine(Configuration.RootPublicPath, Folder ?? string.Empty);
        
        // TODO append query path
        var contents = BrowseService.ListContents(basePath);
        children = contents.GetAllEntries().ToList();
    }

}
